<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University Dashboard</title>
    <link rel="stylesheet" href="university.css">
</head>
<body>
    
    <!-- Header 1 -->
    <header class="header">
        <h1>Universities</h1>
    </header>

    <!-- Header 2 -->
    <section class="header2">
        <div class="dropdown">
            <p>Total transfers: 80           </p> 
            <div>
                <label for="overview">University Overview:</label>
                <select id="overview">
                    <option>Overview</option>
                </select>
                <label for="location">Location:</label>
                <select id="location">
                    <option value= "USA">USA</option>
                    <option value="Australia" >Australia</option>
                    <option value="Canada">Canada</option>
                    <option value="Germany">Germany</option>
                </select>
            </div>
        </div>
    </section>


    <!-- Content Sections -->
    <main class="content">
        <div class="card">
            <div class="section-title">Audience Spread</div>
            <div class="placeholder-img">World Map</div>
        </div>
        <div class="card">
            <div class="section-title">Line Graph</div>
            <div class="placeholder-img">Line Graph (Transfers per Year)</div>
        </div>
    </main>
    
\
        <main class="content">
        
        <div class="card">
            <div class="section-title">Bar Graph</div>
            <div class="placeholder-img">Bar Graph (Cities)</div>
        </div>
        <div class="card">
            <div class="section-title">Pie Chart</div>
            <div class="placeholder-img">Pie Chart (Transfers Proportion)</div>
        </div>
        <div class="card">
            <div class="section-title">Course Analysis</div>
            <div class="placeholder-img">Bar Graph (Majors)</div>
        </div>


        <div class="card">
            <div class="section-title">Alumni List</div>
            <hr>
            <br>
            <table>
                <tr>
                    <th>Name</th>
                    <th>University</th>
                </tr>
                <tr>
                    <td>John Doe</td>
                    <td>MIT</td>
                </tr>
                <tr>
                    <td>Jane Smith</td>
                    <td>University of New South Wales</td>
                </tr>
                <tr>
                    <td>Rith</td>
                    <td>University of Florida</td>
                </tr>
            </table>
        </div>

    </main>
</body>
</html>
